@{
    ViewBag.Title = "Runs";
}

<h2>Runs</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <div id="runsPickupsChart"></div>
        </div>
    </div>
</div>

<script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(getRunData);

    function getRunData() {
        console.log("getting");
        $.ajax({
            url: '@Html.Raw(ViewBag.RunURL)',
            success: function (result) {
                console.log("getting here");
                drawChart(result);
            },
            error: function (e) { alert('Failed!'); console.log(e) },
        });
    }

    function drawChart(runJson) {
        console.log("here");
        var data = google.visualization.arrayToDataTable([
            ['Year', 'Sales', 'Expenses'],
            ['2004', 1000, 400],
            ['2005', 1170, 460],
            ['2006', 660, 1120],
            ['2007', 1030, 540]
        ]);

        var options = {
            title: 'Company Performance',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('runsPickupsChart'));

        chart.draw(data, options);
    }


</script>
