@{
    ViewBag.Title = "Dashboard";
}
<div class="jumbotron">
    <h1>Endless runner Dashboard</h1>
    <p class="lead">Number of runs: @ViewBag.NumOfRuns</p>
    <p class="lead">Number of Pickup: @ViewBag.NumOfPickups</p>
    <p class="lead">Total time players spent: @ViewBag.TimePlayed</p>
</div>