<div class="jumbotron">
    <h1>Endless runner Dashboard</h1>
    <p class="lead">Number of runs: @ViewBag.NumOfRuns</p>
    <p class="lead">Number of Pickup: @ViewBag.NumOfPickups</p>
    <p class="lead">Total time players spent: @ViewBag.TimePlayed</p>
</div>

<div class="row">
    <div class="col-md-3">
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Runs details</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Pickups details</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">End Game Session details</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Global details</a></p>
    </div>
</div>